*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin: var(--i);
    background-color: black;
}
.horloge{
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(6, 23, 75, 0.212);
    border-radius:100%;
    box-shadow: 45px 45px 45px -25px rgba(0,0,0,0.15);
    border: 2px solid white;
}
.cadre{
    position: absolute;
    width: 420px;
    height: 420px;
    background-color: rgb(6, 23, 75);
    border-radius:100%;
    border: 2px solid white;
    display: flex;
    justify-content:center;
    align-items:center;
    /* box-shadow: 7px 7px 22px #152b4a66; */

}
.cadre::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color:#e91e63;
    z-index: 100000;
    box-shadow: 0 0 0 1px #e91e63, 0 0 0 2px #f5f0f0, 0 0 5px 5px rgba(0,0,0,0.15);
}
.cadre span{
    position: absolute;
    inset: 15px;
    text-align: center;
    color: white;
    font-size: 38px;
    transform: rotate(calc(30deg * var(--i)));
}
span strong {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.cadre .circle{
    position: absolute;
    width: 280px;
    height: 280px;
    border: 3px solid rgba(0, 0, 0.75);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    z-index: 10;
}
.cadre .circle::before{
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: var(--clr);
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
.cadre .circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}
.cadre .circle#seconde i{
    width: 2px;
 
}
.cadre .circle#minute i{
    width: 4px;
}

.cadre .circle#minute {
    width: 230px;
    height: 230px;
}
.cadre .circle#heure {
    width: 180px;
    height: 180px;
}












.un{
    --i : 1;
}
.deux{
    --i: 2;
}
.trois{
    --i : 3;
}
.quatre{
    --i: 4;
}
.cinq{
    --i : 5;
}
.six{
    --i: 6;
}
.sept{
    --i : 7;
}
.huit{
    --i: 8;
}
.neuf{
    --i : 9;
}
.dix{
    --i: 10;
}
.onze{
    --i : 11;
}
.douze{
    --i: 0;
}
.seconde{
    --clr:#04fc43;
}
.minute{
    --clr:#fee800;
}
.heure{
    --clr:#ff2972;
}
